# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
env.yaml

# Docker and orchestration files
docker-compose.override.yml
docker-compose.prod.yml

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git
.git
.gitignore

# Logs
*.log

# Mac
.DS_Store

# Lock files
uv.lock
