# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Environment variables
.env
.env.local
env.yaml

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Logs and debug files
*.log
*.out
*.err

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pylint reports
pylint-report.txt

# Other
*.sqlite3
*.db
